# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

*Objectives*
- Popular languages used in data science
- Commonly used data science libraries
- Data science tools

Some of the popular languages that Data Scientists use are:
  1. Python
  2. Java
  3. R

Some of the commonly used libraries used by Data Scientists include:
  1. Tensor Flow
  2. NumPy
  3. SciPy

|Data Science Tools|
|------------------|
|RStudio}
|Apache Spark|
|Tensor Flow|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [18]:
# This a simple arithmetic expression to mutiply then add integers

In [19]:
(3*4)+5

17

In [20]:
# This will convert 200 minutes to hours by diving by 60

In [21]:
200/60

3.3333333333333335

## Author 
Maruk Ahmed